{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">
    Напишите на мою почту!
  <a target="_blank" href="mailto:dodo101000101@gmail.com?Subject=Вопрос%20по%20IM" class="btn btn-link btn-lg">dodo101000101@gmail.com </a>

</div>

{% endblock %}

{% block footer %}
<div class=container>
  <hr>
  <footer>
    <ul class="list-inline pull-right">
      <li><a href="{% url 'landing_about' %}">О IM</a></li>
    </ul>
    <p class=muted>{% include "copyright.html" %}</p>
  </footer>
</div>
{% endblock %}


