{% extends "bases/bootstrap-visitor.html" %}

{% block content %}

<div class="container">
<h2>Что такое IM?</h2>
<p>Интерактивный модуль (Interactive Module, IM) – это инструмент, цель которого передать вам знания, навыки эффективно. Он соединяет адаптивный и дифференцированный подходы к обучению. Главной его особенностью является способность к постоянным улучшениям и изменениям. #TODO: дать нормальное определение что это такое.</p>
<p>IM состоит из узлов и имеет определённые начало и конец. IM состоит из узлов – шагов или групп шагов (базовая единица -  урок или задание). В IM можно добавлять ссылки на чужие узлы, тем самым создавая узлы - ярлыки. В основном узлы для модуля подбираются системой, а также сами авторы модулей могут их добавлять вручную.

  <p> Продолжение следует)

  <h5>Вопросы?</h5>
  {% include "bases/comments.html" %}
</div>

{% endblock %}


{% block footer %}
<div class=container>
    <hr>
    <footer>
      <ul class="list-inline pull-right">
        <li><a href="{% url 'website_contact' %}">Контакты</a></li>
      </ul>
      <p class=muted>{% include "copyright.html" %}</p>
    </footer>
  </div>
{% endblock %}