{% extends "bases/bootstrap-jquery.html" %}
{% load staticfiles %}

{% block content %}
<p></p>
<div class="container">
    <p>
  <div class="jumbotron text-center">
    <h1><br>Interactive Module</h1>
    <p></p>
    <p class="lead">
      Читать о IM <a href="{% url 'landing_about' %}">подробнее</a>
    </p>
    <p>
        <p>
      <a class="btn btn-lg btn-success " href="{% url 'user_home' %}" role="button">Начать!</a>
    </p>
  </div>
</div>

{% endblock %}


