{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}
{% block head_title %}Список доступных тем:{% endblock %}

{% block content %}
<div class="container">
<h1> Список и граф тем</h1>
<h4>Уровень сложности</h4>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    {% bootstrap_button "изменить" button_type="submit" button_class="btn btn-default" %}
</form>

<table class="table">
    <thead>
            <tr>
                <th>Название</th>
            </tr>
    </thead>
    {% for node in nodes %}
    <thead>
            <tr>
                <th><a href="{% url 'node_detail' pk=node.pk %}">{{node}}</a></th>
            </tr>
    </thead>
    {% endfor %}
</table>

<p></p><a href={% url 'user_home' %} class="btn btn-primary btn-lg">Домой</a><p> </p>
<div id="hypercomments_mix"></div>
<script type="text/javascript">
    _hcwp = window._hcwp || [];
    _hcwp.push({widget:"Mixstream", widget_id:100873, filter:"popular", limit:5});
    (function() {
    if("HC_LOAD_INIT" in window) return;
    HC_LOAD_INIT = true;
    var lang = (navigator.language || navigator.systemLanguage || navigator.userLanguage ||  "en").substr(0, 2).toLowerCase();
    var hcc = document.createElement("script"); hcc.type = "text/javascript"; hcc.async = true;
    hcc.src = ("https:" == document.location.protocol ? "https" : "http")+"://w.hypercomments.com/widget/hc/100873/"+lang+"/widget.js";
    var s = document.getElementsByTagName("script")[0];
    s.parentNode.insertBefore(hcc, s.nextSibling);
    })();
    </script>
<a href="http://hypercomments.com" class="hc-link" title="comments widget">comments powered by HyperComments</a>

</div>
{% endblock %}