{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}

{% block title %} IM-{{node}} {% endblock %}

{% block content %}
<div class="container">
    <!-- TODO: title!!! -->
    <h1> {{user.profile.correct_module}}: {{node}}</h1>
    {% if request.user == node.author %}
    <div class="row">
            <div class="col-md-12">
                    
                <div class="btn-group">
                        <a href="{% url 'node_edit' pk=node.pk %}" class="btn btn-default"><span class="fa fa-edit fa-lg" > Редактировать</span></a> 
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="disabled">
                            <a href="#">Статистика</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    {% endif %}
    {% if node.type_data != 'UF' %}
        {{page|safe}}
        {% else %}
        <h3>{{node.description}}</h3>
            <form class="form-horizontal" method="POST" action="{% url 'node_detail' pk=node.pk %}">
            {% csrf_token %}
            <fieldset>
                {{page|safe}}
            </fieldset>
        </form>
    {% endif %}
    <p></p>
    <p></p>


    {% if next_list != "None" %}
        <a href={% url 'node_detail' pk=next_node.pk %} class="btn btn-success btn-lg">Продолжить &raquo;</a>
        <a href="{{user.profile.correct_module.get_absolute_url}}" class="btn btn-primary btn-lg">Домой</a>
        <h3>Если вам интересно:</h3>
        <table class="table">
            <thead>
                    <tr>
                        <th>id</th>
                        <th>Название</th>
                        <th>Вес</th>
                    </tr>
            </thead>
            {% for next in next_list %}
            <thead>
                    <tr>
                        <th>{{next.node_to.pk}}</th>
                        <th><a href="{{next.node_to.get_absolute_url}}">{{next.node_to}}</th>
                        <th>{{next.weight}}</th>
                    </tr>
            </thead>
            {% endfor %}
        </table>

    {% else %}
        <a href="{{user.profile.correct_module.get_absolute_url}}" class="btn btn-success btn-lg">Назад &raquo;</a>
    {% endif %}

    <p> </p>
    
    {% include "bases/comments.html" %}
</div>
{% endblock %}

{% block app_js %}
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML'></script>
{% endblock %}