{% extends "socialaccount/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Connected Accounts" %}{% endblock %}
{% block account_nav_socialaccount_connections  %}active{% endblock %}

{% block account_content %}

{% if form.accounts %}
<p>{% blocktrans %}Вы можете войти в свою учетную запись, используя любую из следующих сторонних учетных записей:{% endblocktrans %}</p>


<form method="post">
{% csrf_token %}

{% if form.non_field_errors %}
    <div class="alert alert-error">
        <a class="close" data-dismiss="alert">&times;</a>
        {% for non_field_error in form.non_field_errors %}
             {{ non_field_error }}
        {% endfor %}
    </div>
{% endif %}


<table class="table">
  <thead>
    <tr>
      <th>
	{% trans 'Provider' %}
      </th>
      <th>
	{% trans 'Account' %}
      </th>
    </tr>
  </thead>
  <tbody>
{% for base_account in form.accounts %}
{% with base_account.get_provider_account as account %}
    <tr>
      <td>
<label class="radio" for="id_account_{{base_account.id}}">
<input id="id_account_{{base_account.id}}" type="radio" name="account" value="{{base_account.id}}"/>
<span class="socialaccount_provider {{base_account.provider}} {{account.get_brand.id}}">{{account.get_brand.name}}</span>
</label>
      </td>
      <td>
	{{account}}
      </td>
    </tr>
{% endwith %}
{% endfor %}
  </tbody>
</table>

<div class="form-actions">
<button class="btn btn-danger" type="submit">{% trans 'Remove' %}</button>
</div>

</fieldset>

</form>

{% else %}
<div class="alert">
<strong>{% trans 'None!' %}</strong> {% trans 'You currently have no social network accounts connected to this account.' %}
</div>
{% endif %}

<h2>{% trans 'Add a 3rd Party Account' %}</h2>

<ul class="socialaccount_providers">
{% include "socialaccount/snippets/provider_list.html" with process="connect" %}
</ul>

{% include "socialaccount/snippets/login_extra.html" %}

{% endblock %}


