{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner-content %}

<h1>{% trans "Sign Up" %}</h1>

<p>{% blocktrans with provider_name=account.get_provider.name site_name=site.name %}Вы собираетесь использовать свой {{provider_name}} учетная запись для входа в систему 
{{site_name}}. В качестве последнего шага, пожалуйста, заполните следующую форму:{% endblocktrans %}</p>
    
<form class="signup" id="signup_form" method="post" action="">
  {% csrf_token %}
  {% bootstrap_form form %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <div class="form-actions">
  <button class="btn btn-primary"  type="submit">{% trans "Sign Up" %}</button>
  </div>
</form>
        

{% endblock %}


