{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Action{% endblock %}

{% block content %}
<div class="container">
<h2>Ваша история посещений:</h2>
<table class="table">
    <thead>
            <tr>
                <th>Дата</th>
                <th>IM</th>
                <th>Node</th>
                <th>Data</th>
            </tr>
    </thead>
    {% for action in actions %}
    <thead>
            <tr>
                <th>{{action.created_date}}</th>
                <th>{{action.im}}</th>
                <th>{{action.node}}</th>
                <th>{{action.data}}</th>
            </tr>
    </thead>
    {% endfor %}
</table>
<p><a href={% url 'user_home' %} class="btn btn-primary btn-lg">Домой</a></p>
</div>
{% endblock %}

