{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}

{% block head_title %}{% trans "Выходt" %}{% endblock %}

{% block inner-content %}
<h1>{% trans "Выходt" %}</h1>

<p>{% trans 'Вы уверены, что хотите выйти?' %}</p>

<form method="post" action="{% url 'account_logout' %}">
  {% csrf_token %}
  {% if redirect_field_value %}
  <input type="hidden" name="{{redirect_field_name}}" value="{{redirect_field_value}}"/>
  {% endif %}
  <button class="btn btn-primary" type="submit">{% trans 'Sign Out' %}</button>
</form>


{% endblock %}
