{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block inner-content %}
<h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
    
{% if token_fail %}
{% url 'account_reset_password' as passwd_reset_url %}
<p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас есть какие-либо проблемы. Ссылка на сброс пароля была недействительной, возможно, потому, что она уже используется. Пожалуйста, запросите ae, чтобы восстановить пароль. <a href="{{ passwd_reset_url }}">сброс пароля</a>.{% endblocktrans %}</p>

{% else %}
{% if form %}
<form method="POST" action="" class="uniForm">
  {% csrf_token %}
  {% bootstrap_form form %}
  <div class="form-actions">
    <button class="btn btn-primary" type="submit">{% trans "Change Password" %}</button>
  </div>
</form>
{% else %}
<p>{% trans 'Your password is now changed.' %}</p>
{% endif %}
{% endif %}

{% endblock %}
