{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}
{% block account_nav_change_password %}активный{% endblock %}

{% block account_content %}
    <form method="POST" action="" class="password_change">
        {% csrf_token %}
        {% bootstrap_form password_change_form %}
        <div class="form-actions">
          <button class="btn btn-primary" type="submit" name="action">{% trans "Change Password" %}</button>
        </div>
    </form>
{% endblock %}
