{% extends "bases/bootstrap-auth.html" %}

{% load i18n %}
{% load bootstrap3 %}
{% load account socialaccount %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner-content %}

    <h1>{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    
    <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
    
    <form method="POST" action="" >
        {% csrf_token %}
        {% bootstrap_form password_reset_form %}
        <div class="form-actions">
          <input class="btn btn-primary" type="submit" value="{% trans "Reset My Password" %}" />
        </div>
    </form>
    
    <p>{% blocktrans %}Пожалуйста, свяжитесь с нами, если у вас возникли проблемы с возвратом пароля.{% endblocktrans %}</p>
{% endblock %}

{% block appjs_jquery %}
    <script>
        $("#id_email").focus();
    </script>
{% endblock %}
