{% extends "account/base.html" %}

{% load i18n %}
{% load bootstrap3 %}

{% block head_title %}{% trans "Set Password" %}{% endblock %}
{% block account_nav_change_password %}активный{% endblock %}

{% block account_content %}
<form method="POST" action="" class="password_set">
  {% csrf_token %}
  {% bootstrap_form password_set_form %}
  <div class="form-actions">
    <input class="btn btn-primary" type="submit" name="action" value="{% trans "Set Password" %}"/>
  </div>
</form>
{% endblock %}
