{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}

{% block title %} IM-{{im}} {% endblock title %}

{% block content %}
<div class="container">
    <h1>{{im}}</h1>

    {% if request.user == im.author %}
    <div class="row">
            <div class="col-md-12">
                <div class="btn-group">
                        <a href="{% url 'module_edit' pk=im.pk %}" class="btn btn-default"><span class="fa fa-edit fa-lg" > Редактировать</span></a> 
                    <button data-toggle="dropdown" class="btn btn-default dropdown-toggle">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li class="disabled">
                            <a href="#">Статистика</a>
                        </li>
                    </ul>
                </div>
            </div>
    </div>
    {% endif %}

    <h4>Описание:</h4>
        {{im_description|safe}}
    <p></p>
    <h4>Уровень сложности</h4>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <input type=submit value="изменить" class="btn btn-default" />
    </form>
    <h4>Список тем:</h4>
    <table class="table">
        <thead>
                <tr>

                    <th>Название</th>
                </tr>
        </thead>
        {% for node in nodes %}
        <thead>
                <tr>

                    <th><a href="{% url 'node_detail' pk=node.pk %}">{{node}}</a></th>
                </tr>
        </thead>
        {% endfor %} 
    </table>

    <p></p><a href={% url 'module_list' %} class="btn btn-primary btn-lg">Назад</a><p> </p>
    <p></p>
    {% include "bases/comments.html" %}
</div>
{% endblock content%}