{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}
{% block head_title %}Список IM:{% endblock %}

{% block content %}

<h1>Карта всего </h1>
    <div id="cy">
</div>
</div>
{% endblock %}

{% block app_js %}
{% load staticfiles%}
<link href="https://unpkg.com/font-awesome@4.7.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
<script src="https://unpkg.com/cytoscape/dist/cytoscape.min.js"></script>

<script src="https://cdn.rawgit.com/cytoscape/cytoscape.js-dagre/1.5.0/cytoscape-dagre.js"></script>

<script src='{% static "js/cytoscape-cxtmenu.js" %}'></script>
<script type="text/javascript">

    window.addEventListener('DOMContentLoaded', function(){

        var cy = window.cy = cytoscape({
            container: document.getElementById('cy'),

            boxSelectionEnabled: false,
            autounselectify: true,

            /*
            layout: { //TODO: useful layout
                name: 'dagre'
            },*/

            ready: function(){
            },
    
            style: [
                {
                    selector: 'node',
                    css: {
                        'content': 'data(name)'
                    }
                },
    
                {
                    selector: 'edge',
                    css: {
                        'curve-style': 'bezier',
                        'width': 4,
                        'target-arrow-shape': 'triangle',
                        'line-color': '#9dbaea',
                        'target-arrow-color': '#9dbaea'
                    }
                }
            ],
    
            elements: {
                nodes: [
                    {% for im in im_arr %}
                    { data: { id: '{{im.pk}}', name: '{{im|safe}}' } },
                    {% endfor %}
                ],
                edges: [
                    {% for edge in im_edg %}
                    { data: { source: '{{edge.im_from.pk}}', target: '{{edge.im_to.pk|safe}}' } },
                    {% endfor %}
                ]
            }
        });
    
        cy.cxtmenu({
            selector: 'node',
    
            commands: [
                {
                    content: '<span class="fa fa-star fa-2x"></span>',
                    select: function(ele){
                        alert( '  ele.data() ' +  ele.data('name') );
                    },
                    disabled: true
                },
    
                {
                    content: 'Начать!',
                    select: function(ele){
                       document.location.href = "/module/"+ele.data('id');
                    }
                }
            ]
        });
        
        cy.cxtmenu({
            selector: 'core',
    
            commands: [
                {
                    content: '<span class="fa fa-plus fa-2x"></span>',
                    select: function(ele){
                        console.log( ele.data('name') );
                        alert( '  ele.data() ' +  ele.data('name') );
                    },
                    disabled: true
                },
            ]
        });
        cy.resize();
        /*
        window.onresize = function(event) {
            
        };*/
    });


</script>
{% endblock %}

{% block head_css %}
<style>
		
    body {
        font-family: helvetica;
        font-size: 14px;
    }

    #cy {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 999;
    }

    h1 {
        opacity: 0.5;
        font-size: 1em;
    }
    .cxtmenu-disabled {
        opacity: 0.333;
    }
</style>
{% endblock head_css %}

{% block footer %}
{% endblock %}