{% extends "bases/bootstrap-member.html" %}

{% block head_title %}Action{% endblock %}

{% block content %}
<div class="container">

<p><a href="{% url 'user_node_list' %}" class="btn btn-info btn-lg">Список контента</a></p>
<p><a href={% url 'user_home' %} class="btn btn-primary btn-lg">Домой</a></p>

</div>
{% endblock %}

