{% extends "bases/bootstrap-member.html" %}

{% load bootstrap3 %}

{% block head_title %}Welcome{% endblock %}

{% block content %}
<div class="container">
  <div class="row">
    {% bootstrap_messages %}

    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Профиль</h3>
      <ul class="list-unstyled">
        <li>Имя: <strong>{{user.first_name}}</strong></li>
        <li>Фамилия: <strong>{{user.last_name}}</strong></li>
        <li>Ник: <strong>{{user.display_name}}</strong></li>
        <li>Email: <strong>{{user.email}}</strong></li>
        <li>Изучает: <strong>{{user.profile.correct_module}}</strong></li>
        <li>Сложность: <strong>{{user.profile.complexity_data}}</strong></li>
      </ul>
      <a href="{% url 'account_profile' %}">Редактировать</a>
    </div>
    <div class="col-sm-6 col-md-4 col-lg4">
      <a href="{% url 'module_list' %}" class="btn btn-info btn-lg">Список IM</a>

      <p></p>      
      <a href="{{user.profile.correct_module.get_absolute_url}}" class="btn btn-info btn-lg">Продолжить {{user.profile.correct_module}}</a>
      
      
  </div>
    <div class="col-sm-6 col-md-4 col-lg-4">
      <h3>Dev:</h3>
      <ul class="list-unstyled">
        <li><a href="{% url 'user_history' %}">Журнал</a></li>
      </ul>
    </div>
  </div>
</div>
{% endblock %}


