{% extends "bases/bootstrap-jquery.html" %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 big-box">
    {% block inner-content %}
    {% endblock %}
    </div>
  </div>
</div><!-- container -->
{% endblock %}
