{% extends "bases/bootstrap-jquery.html" %}
{% load staticfiles %}

{% block nav %}
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-static-top navbar-shadow" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">IM</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="{% url 'landing_index' %}">Добро пожаловать!</a></li>
            <li><a href="{% url 'landing_about' %}">О IM</a></li>
            <li><a href="{% url 'account_signup' %}"><strong>Регистрация</strong></a></li>
            <li><a href="{% url 'account_login' %}"><strong>Авторизоваться</strong></a></li>
          </ul>
        </div>
      </div>
    </div>

{% endblock %}
