{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}
{% block head_title %}Edit IM{% endblock %}

{% block content %}
    <div class="container">
        <fieldset>
            <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Титул</label>  
                    <div class="col-md-6">
                        <input id="input_title" name="textinput" type="text" value="{{im}}" class="form-control input-md">            
                    </div>
            </div>
        </fieldset>
        <p></p>
        <textarea id="editor">{{im.description}}</textarea>
        <p></p>
        <button type="button" onclick="saveFunction()" class="btn btn-success" id="save_button">Сохранить</button>
        
        <a href="{% url 'module_detail' pk=im.pk %}" class="btn btn-default">Назад</a>
        <button type="button" onclick="deleteFunction()" class="btn btn-danger" id="delete_button">Удалить</button>
    </div>
{% endblock content%}

{% block app_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

    {% csrf_token %}
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("editor"),
            spellChecker: false,
            toolbar: ["bold", "italic", "heading", "|", 
                    "quote", "unordered-list", "ordered-list", "|", 
                    "link", "|", "preview", /* "side-by-side", */ "|", 
                    {
                        name: "guide",
                        action: function customFunction(editor){
                            // Add your own code
                            //TODO: Markdown Guide + MathJax
                            alert("Markdown Guide + MathJax");
                        },
                        className: "fa fa-question-circle",
                        title: "Markdown Guide",
                    }],
            codeSyntaxHighlighting: true,
            autosave: {
                enabled: false,
                unique_id: "editor",
            },
            
        });

        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function deleteFunction(){
            bootbox.confirm({
                backdrop: true,
                message: "Вы точно хотите удалить {{im}}?",
                buttons: {
                    confirm: {
                        label: 'Да, уверен',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Нет',
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        $.post("{% url 'module_edit_post' %}",
                            {
                                'event':'delete',
                                'description':'',
                                'im_pk':"{{im.pk}}"
                            },
                            onAjaxSuccess
                            );
                    document.location.href = "{% url 'module_list' %}";
                    }
                }
            });
            
        }
        function saveFunction() {
            document.getElementById("save_button").style.color = "red";
            $.post(
                "{% url 'module_edit_post' %}",
                {
                    'event':'save',
                    'title':document.getElementById('input_title').value,
                    'description':simplemde.value(),
                    'im_pk':"{{im.pk}}"
                },
                onAjaxSuccess
            );  
        }
        function onAjaxSuccess(data) {
            // Здесь мы получаем данные, отправленные сервером
            console.log(data);
        };
    </script>
{% endblock app_js%}
