{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}
{% block head_title %}Edit IM{% endblock %}

{% block content %}
    <div class="container">-
        <button type="button" onclick="newIMFunction()" class="btn btn-success" >Создать новый интерактивный модуль</button>
        <button type="button" onclick="newNodeFunction()" class="btn btn-success" >Создать новый узел</button>
        <p></p>
        <p>Сохданно {{num_creat_im}} из {{user.profile.max_creat_im}} модулей</p>
        <p>Сохданно {{num_creat_node}} из {{user.profile.max_creat_node}} узлов</p>
    </div>

    <h2>Созданные вами модули:</h2>
    <table class="table">
            <thead>
                    <tr>
                        <th>Название</th>
                    </tr>
            </thead>
            {% for im in created_im %}
            <thead>
                    <tr>
                        <th><a href="{% url 'module_detail' pk=im.pk %}">{{im}}</a></th>
                    </tr>
            </thead>
            {% endfor %} 
        </table>
    <h2>Созданные вами узлы:</h2>
    <table class="table">
            <thead>
                    <tr>
    
                        <th>Название</th>
                    </tr>
            </thead>
            {% for node in created_node %}
            <thead>
                    <tr>
    
                        <th><a href="{% url 'node_detail' pk=node.pk %}">{{node}}</a></th>
                    </tr>
            </thead>
            {% endfor %} 
        </table>
{% endblock content%}


{% block app_js %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>


    {% csrf_token %}
    <script>

    var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
    
    function newIMFunction() {

        {% if num_creat_im <= user.profile.max_creat_im %}
        $.post(
            "{% url 'module_edit_post' %}",
            {
                'event':'new_im',
                'title':'simplemde.value()',//TODO:
            },
            onAjaxSuccess
        ); 
        function onAjaxSuccess(data) {
            // Здесь мы получаем данные, отправленные сервером
              document.location.href = "/module/"+data+"/edit";//TODO через pk из запроса % url 'node_edit' pk=node.pk % }

           };
        {% else %}
        bootbox.alert({
            message: "Вы вы достигли макситального количества созданных IM",
            backdrop: true
        });
        {% endif %}
    }
    function newNodeFunction() {
        {% if num_creat_node <= user.profile.max_creat_node %}
        $.post(
            "{% url 'node_edit_post' %}",
            {
                'event':'new_node',
                'title':'simplemde.value()',//TODO:
            },
            onAjaxSuccess
        ); 
        function onAjaxSuccess(data) {
            // Здесь мы получаем данные, отправленные сервером
              document.location.href = "/node/"+data+"/edit";//TODO через pk из запроса % url 'node_edit' pk=node.pk %
        };
        
        {% else %}
        bootbox.alert({
            message: "Вы вы достигли макситального количества созданных узлов",
            backdrop: true
        });
        {% endif %}
    }
	</script>
{% endblock app_js%}
