{% extends "bases/bootstrap-member.html" %}
{% load bootstrap3 %}
{% block head_title %}Edit Node{% endblock %}

{% block content %}
    <div class="container">

        <fieldset>
            <div class="form-group">
                    <label class="col-md-4 control-label" for="textinput">Титул</label>  
                    <div class="col-md-6">
                        <input id="input_title" name="textinput" type="text" value="{{node}}" class="form-control input-md">            
                    </div>
            </div>
        </fieldset>
        <p></p>
        <fieldset>
            <div class="form-group">
                <label class="col-md-4 control-label" for="selectbasic">Тип:</label>
                <div class="col-md-4">
                    <select id="selectcomplexity" name="selectbasic" class="form-control">
                        {% for i,j in node.COMPLEXITY_CHOICES %}
                        <option {% if j == complexity_data %}selected{% endif %} value="{{i}}">{{j}}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
        </fieldset>
       <!--   <p></p>
        <fieldset>
            <div class="form-group">
            <label class="col-md-4 control-label" for="selectbasic">Тип данных:</label>
            <div class="col-md-4">
                <select id="selectbasic" name="selectbasic" class="form-control">
                {% for i,j in node.TYPE_CHOICES %}
                <option {% if j == type_data %}selected{% endif %} value="{{i}}">{{j}}</option>
                {% endfor %}
                </select>
            </div>
            </div>

        </fieldset>
        -->

        <p></p>

        <textarea id="editor" contenteditable="true">{{node.data}}</textarea>
        
        <button type="button" onclick="saveFunction()" class="btn btn-success" id="save_button">Сохранить</button>
        
        <a href="{% url 'node_detail' pk=node.pk %}" class="btn btn-default">Назад</a>
        <button type="button" onclick="deleteFunction()" class="btn btn-danger" id="delete_button">Удалить</button>
        
        <h5>Автор:{{node.author}} </h5>

    </div>
{% endblock content%}


{% block app_js %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

    <script src="https://cdn.jsdelivr.net/highlight.js/latest/highlight.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/highlight.js/latest/styles/github.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    {% csrf_token %}
    <script>
        var simplemde = new SimpleMDE({
            element: document.getElementById("editor"),
            forceSync: true,
            autofocus: true,
            spellChecker: false,
            toolbar: ["bold", "italic", "heading", "|", 
                    "quote", "unordered-list", "ordered-list", "|", 
                    "link", "image", "|", "table", "|", "preview", /* "side-by-side", */ "|",
                    {
                        name: "MathJax",
                        action: function mathFunction(editor){
                            var cm = editor.codemirror;
                            var startPoint = cm.getCursor("start");
                            var endPoint = cm.getCursor("end");
                            
                            text = cm.getSelection();
                            start = text.slice(0, startPoint.ch);
                            end = text.slice(startPoint.ch);
                            cm.replaceSelection(' \\\\( ' + text + ' \\\\) ');
                            cm.focus();
                        },
                        className: "fa fa-calculator",
                        title: "MathJax in line",
                    }, "|",'guide',
                    {
                        name: "mathguide",
                        action: function customFunction(editor){
                            // Add your own code
                            window.open("https://math.meta.stackexchange.com/questions/5020/mathjax-basic-tutorial-and-quick-reference");
                            //TODO Markdown Guide + 
                            alert("MathJax Guide");
                        },
                        className: "fa fa-question-circle",
                        title: "MathJax Guide",
                    }],
            codeSyntaxHighlighting: true,
            autosave: {
                enabled: false,
                unique_id: "editor",
            },
        });
        
        var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });

        function deleteFunction(){
            bootbox.confirm({
                message: "Вы точно хотите удалить {{node}}?",
                buttons: {
                    confirm: {
                        label: 'Да, уверен',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Нет',
                        className: 'btn-default'
                    }
                },
                callback: function (result) {
                    if(result == true){
                        $.post("{% url 'node_edit_post' %}",
                            {
                                'event':'delete',
                                'data':'',
                                'node_pk':"{{node.pk}}"
                            },
                            onAjaxSuccess
                            );
                        document.location.href = "{% url 'module_list' %}";
                    }
                }
            });
            
        }
        function saveFunction() {
            var e = document.getElementById("selectcomplexity");

            document.getElementById("save_button").style.color = "red";
            $.post(
                "{% url 'node_edit_post' %}",
                {
                    'event':'save',
                    'title':document.getElementById('input_title').value,
                    'complexity_data':e.options[e.selectedIndex].value,
                    'data':simplemde.value(),
                    'node_pk':"{{node.pk}}"
                },
                onAjaxSuccess
            );  
        }
        function onAjaxSuccess(data) {
            console.log(data);
        };
    </script>
{% endblock app_js%}
